<!DOCTYPE html>
<html>
	<head>
	<title>Estudiante</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="./estudiantePerfilStyles.css">
	</head>
	<body id="grad">
		<header id="#navbar">
			<div class="contenedor">
			  <a href="/estudiantes">
			    <div id="logo">
			      <div class="row logos">
			          <div class="col s12 m1 offset-s4 offset-m2">
			            <img src="/img/thumbnail_espol(blanco).jpg" id="logo-pagina">
			          </div>
			          <div class="col s12 m4 offset-s2">
			              <h5>Sistema de</h5>
			              <h4>Calificación y Desarrollo PPL</h4>
			          </div>
			      </div>
			  </div>
			  </a>
			  <nav>
			    
			    <div class="nav-wrapper">
			      
			      <ul class="right">
			        <li><a href="/estudiantes">Inicio</a></li>
			        <li><a href="/estudiantes/tomar-leccion">Tomar Lección</a></li>
			        <li><a href="/estudiantes/lecciones">Lecciones</a></li>
			        <li><a href="/estudiantes">Progreso Academico</a></li>
			        
			        
			        <li>
			        	<a href="/api/session/logout">
			            <i style="height: 64px; margin-right: 10px;" class="hide-on-small-only">
			                <img src="/img/Salir.png" alt="" v-on:click="salir()"
			                style="cursor: pointer; vertical-align: middle;">

			            </i>
			            </a>
			        </li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
			        <li><a href="/estudiantes">Home</a></li>
			        <li><a href="/estudiantes">Lecciones</a></li>
			        <li><a href="/estudiantes">Progreso Academico</a></li>
			        
			        <li>
			          <i style="height: 64px; margin-right: 10px;">
			              <img src="/img/Salir.png" alt="" v-on:click="salir()"
			              style="cursor: pointer; vertical-align: middle;">
			          </i>
			        </li>
			      </ul>
			    </div>
			  </nav>
			</div>

		</header>
		<main>
			<div class="container" id="app">
			  	<div class="row">
					<section class="center-align">
						<!-- <img class="responsive-img circle" src="https://placehold.it/100x100"> -->
						<h3>{{estudiante.nombres + ' ' + estudiante.apellidos}}</h3>
						<p class="gris">{{estudiante.correo}}</p>
					</section>
					<section>
						<table class="bordered responsive-table centered tabla">
							<thead>
								<tr class="titles">
									<th>Nombre</th>
									<th>Estado</th>
									<th>Tipo</th>
									<th>Calificación</th>
									<th>Fecha</th>
									<th>   </th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="leccion in lecciones">
									<td>{{leccion.leccion.nombre}}</td>
									<td>{{leccion.leccion.estado}}</td>
									<td>{{leccion.leccion.tipo}}</td>
									<td>{{leccion.calificacion}}</td>
									<td>{{date(leccion.fechaEmpezado)}}</td>
									<td v-if="leccion.leccion.estado === 'terminado' || leccion.leccion.estado === 'calificado'">
											<button class="btn waves-effect waves-light" v-bind:id=leccion.leccion._id v-on:click="verLeccion($event)">Ver</button>
									</td>
									<td v-else-if="leccion.leccion.estado === 'pendiente' || leccion.leccion.estado === 'tomando'">
										<button class="btn waves-effect waves-light blue lighten-1" v-on:click="tomarLeccion()">Tomar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</div>
			</div>
		</main>
		<footer>
			<script src="/bower_components/jquery/dist/jquery.min.js"></script>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/bower_components/moment/moment.js"></script>
			<script src="./estudiante.js"></script>
		</footer>
	</body>
</html>
